@font-face {
  font-family: "jnijstad";
  src: url("fonts/jnijstad.eot");
  src: url("fonts/jnijstad.eot?#iefix") format("embedded-opentype"), url("fonts/jnijstad.woff") format("woff"), url("fonts/jnijstad.ttf") format("truetype"), url("fonts/jnijstad.svg#jnijstad") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/font.scss */
[data-icon]:before {
  font-family: "jnijstad" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/font.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jnijstad" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/font.scss */
.icon-attachment:before {
  content: "a";
}

/* line 44, ../sass/font.scss */
.icon-graph-pie:before {
  content: "b";
}

/* line 47, ../sass/font.scss */
.icon-heart:before {
  content: "c";
}

/* line 50, ../sass/font.scss */
.icon-apple:before {
  content: "d";
}

/* line 53, ../sass/font.scss */
.icon-facebook:before {
  content: "e";
}

/* line 56, ../sass/font.scss */
.icon-dribbble:before {
  content: "f";
}

/* line 59, ../sass/font.scss */
.icon-github-alt:before {
  content: "g";
}

/* line 62, ../sass/font.scss */
.icon-google:before {
  content: "h";
}

/* line 65, ../sass/font.scss */
.icon-linkedin:before {
  content: "i";
}

/* line 68, ../sass/font.scss */
.icon-paypal:before {
  content: "j";
}

/* line 71, ../sass/font.scss */
.icon-path:before {
  content: "k";
}

/* line 74, ../sass/font.scss */
.icon-twitter-alt:before {
  content: "l";
}

/* line 77, ../sass/font.scss */
.icon-youtube:before {
  content: "m";
}

/* line 80, ../sass/font.scss */
.icon-youtube-alt:before {
  content: "n";
}

/* line 83, ../sass/font.scss */
.icon-social-twitter:before {
  content: "p";
}

/* line 86, ../sass/font.scss */
.icon-menu:before {
  content: "o";
}

/* line 89, ../sass/font.scss */
.icon-fullscreen-alt:before {
  content: "q";
}

/* line 92, ../sass/font.scss */
.icon-fullscreen:before {
  content: "r";
}

/* line 95, ../sass/font.scss */
.icon-left-quote:before {
  content: "s";
}

/* line 98, ../sass/font.scss */
.icon-rss-alt:before {
  content: "t";
}

/* line 101, ../sass/font.scss */
.icon-content-43:before {
  content: "u";
}

/* line 104, ../sass/font.scss */
.icon-align-justify:before {
  content: "v";
}
