@font-face {
  font-family: "jnijstad";
  src: url("fonts/jnijstad.eot");
  src: url("fonts/jnijstad.eot?#iefix") format("embedded-opentype"), url("fonts/jnijstad.woff") format("woff"), url("fonts/jnijstad.ttf") format("truetype"), url("fonts/jnijstad.svg#jnijstad") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/icons.scss */
[data-icon]:before {
  font-family: "jnijstad" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/icons.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jnijstad" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/icons.scss */
.icon-attachment:before {
  content: "a";
}

/* line 44, ../sass/icons.scss */
.icon-graph-pie:before {
  content: "b";
}

/* line 47, ../sass/icons.scss */
.icon-heart:before {
  content: "c";
}

/* line 50, ../sass/icons.scss */
.icon-apple:before {
  content: "d";
}

/* line 53, ../sass/icons.scss */
.icon-facebook:before {
  content: "e";
}

/* line 56, ../sass/icons.scss */
.icon-dribbble:before {
  content: "f";
}

/* line 59, ../sass/icons.scss */
.icon-github-alt:before {
  content: "g";
}

/* line 62, ../sass/icons.scss */
.icon-google:before {
  content: "h";
}

/* line 65, ../sass/icons.scss */
.icon-linkedin:before {
  content: "i";
}

/* line 68, ../sass/icons.scss */
.icon-paypal:before {
  content: "j";
}

/* line 71, ../sass/icons.scss */
.icon-path:before {
  content: "k";
}

/* line 74, ../sass/icons.scss */
.icon-twitter-alt:before {
  content: "l";
}

/* line 77, ../sass/icons.scss */
.icon-youtube:before {
  content: "m";
}

/* line 80, ../sass/icons.scss */
.icon-youtube-alt:before {
  content: "n";
}

/* line 83, ../sass/icons.scss */
.icon-social-twitter:before {
  content: "p";
}

/* line 86, ../sass/icons.scss */
.icon-menu:before {
  content: "o";
}

/* line 89, ../sass/icons.scss */
.icon-fullscreen-alt:before {
  content: "q";
}

/* line 92, ../sass/icons.scss */
.icon-fullscreen:before {
  content: "r";
}

/* line 95, ../sass/icons.scss */
.icon-left-quote:before {
  content: "s";
}

/* line 98, ../sass/icons.scss */
.icon-rss-alt:before {
  content: "t";
}

/* line 101, ../sass/icons.scss */
.icon-content-43:before {
  content: "u";
}

/* line 104, ../sass/icons.scss */
.icon-align-justify:before {
  content: "v";
}

/* line 107, ../sass/icons.scss */
.icon-cross:before {
  content: "w";
}

/* line 110, ../sass/icons.scss */
.icon-media-shuffle:before {
  content: "x";
}

/* line 113, ../sass/icons.scss */
.icon-move:before {
  content: "y";
}

/* line 116, ../sass/icons.scss */
.icon-view-thumb:before {
  content: "z";
}

/* line 119, ../sass/icons.scss */
.icon-download:before {
  content: "A";
}

/* line 122, ../sass/icons.scss */
.icon-feed:before {
  content: "B";
}

/* line 125, ../sass/icons.scss */
.icon-fullscreen-exit-alt:before {
  content: "C";
}

/* line 128, ../sass/icons.scss */
.icon-share:before {
  content: "D";
}

/* line 131, ../sass/icons.scss */
.icon-quote:before {
  content: "E";
}

/* line 134, ../sass/icons.scss */
.icon-list:before {
  content: "F";
}

/* line 137, ../sass/icons.scss */
.icon-link:before {
  content: "G";
}

/* line 140, ../sass/icons.scss */
.icon-dot-2:before {
  content: "H";
}

/* line 143, ../sass/icons.scss */
.icon-dot-3:before {
  content: "I";
}

/* line 146, ../sass/icons.scss */
.icon-heart-empty:before {
  content: "J";
}

/* line 149, ../sass/icons.scss */
.icon-twitter:before {
  content: "K";
}
