/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Imports */
@font-face {
  font-family: "jnijstad";
  src: url("fonts/jnijstad.eot");
  src: url("fonts/jnijstad.eot?#iefix") format("embedded-opentype"), url("fonts/jnijstad.woff") format("woff"), url("fonts/jnijstad.ttf") format("truetype"), url("fonts/jnijstad.svg#jnijstad") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/icons.scss */
[data-icon]:before {
  font-family: "jnijstad" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/icons.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "jnijstad" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../sass/icons.scss */
.icon-attachment:before {
  content: "a";
}

/* line 44, ../sass/icons.scss */
.icon-graph-pie:before {
  content: "b";
}

/* line 47, ../sass/icons.scss */
.icon-heart:before {
  content: "c";
}

/* line 50, ../sass/icons.scss */
.icon-apple:before {
  content: "d";
}

/* line 53, ../sass/icons.scss */
.icon-facebook:before {
  content: "e";
}

/* line 56, ../sass/icons.scss */
.icon-dribbble:before {
  content: "f";
}

/* line 59, ../sass/icons.scss */
.icon-github-alt:before {
  content: "g";
}

/* line 62, ../sass/icons.scss */
.icon-google:before {
  content: "h";
}

/* line 65, ../sass/icons.scss */
.icon-linkedin:before {
  content: "i";
}

/* line 68, ../sass/icons.scss */
.icon-paypal:before {
  content: "j";
}

/* line 71, ../sass/icons.scss */
.icon-path:before {
  content: "k";
}

/* line 74, ../sass/icons.scss */
.icon-twitter-alt:before {
  content: "l";
}

/* line 77, ../sass/icons.scss */
.icon-youtube:before {
  content: "m";
}

/* line 80, ../sass/icons.scss */
.icon-youtube-alt:before {
  content: "n";
}

/* line 83, ../sass/icons.scss */
.icon-social-twitter:before {
  content: "p";
}

/* line 86, ../sass/icons.scss */
.icon-menu:before {
  content: "o";
}

/* line 89, ../sass/icons.scss */
.icon-fullscreen-alt:before {
  content: "q";
}

/* line 92, ../sass/icons.scss */
.icon-fullscreen:before {
  content: "r";
}

/* line 95, ../sass/icons.scss */
.icon-left-quote:before {
  content: "s";
}

/* line 98, ../sass/icons.scss */
.icon-rss-alt:before {
  content: "t";
}

/* line 101, ../sass/icons.scss */
.icon-content-43:before {
  content: "u";
}

/* line 104, ../sass/icons.scss */
.icon-align-justify:before {
  content: "v";
}

/* line 107, ../sass/icons.scss */
.icon-cross:before {
  content: "w";
}

/* line 110, ../sass/icons.scss */
.icon-media-shuffle:before {
  content: "x";
}

/* line 113, ../sass/icons.scss */
.icon-move:before {
  content: "y";
}

/* line 116, ../sass/icons.scss */
.icon-view-thumb:before {
  content: "z";
}

/* line 119, ../sass/icons.scss */
.icon-download:before {
  content: "A";
}

/* line 122, ../sass/icons.scss */
.icon-feed:before {
  content: "B";
}

/* line 125, ../sass/icons.scss */
.icon-fullscreen-exit-alt:before {
  content: "C";
}

/* line 128, ../sass/icons.scss */
.icon-share:before {
  content: "D";
}

/* line 131, ../sass/icons.scss */
.icon-quote:before {
  content: "E";
}

/* line 134, ../sass/icons.scss */
.icon-list:before {
  content: "F";
}

/* line 137, ../sass/icons.scss */
.icon-link:before {
  content: "G";
}

/* line 140, ../sass/icons.scss */
.icon-dot-2:before {
  content: "H";
}

/* line 143, ../sass/icons.scss */
.icon-dot-3:before {
  content: "I";
}

/* line 146, ../sass/icons.scss */
.icon-heart-empty:before {
  content: "J";
}

/* line 149, ../sass/icons.scss */
.icon-twitter:before {
  content: "K";
}

/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables */
/* line 61, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/*****************************************************************************/
/*
/* =Typography
/*
/*****************************************************************************/
/* line 43, ../sass/main.scss */
body {
  font-family: "Georgia", "Adobe Garamond Pro", "Adobe Garamond", "Garamond", "Baskerville", "PT Serif", serif;
  color: #2c2c2c;
  -webkit-font-smoothing: antialiased;
  border-top: 2px black solid;
}

/* line 52, ../sass/main.scss */
.clear:after, .top:after, figure:after {
  content: "";
  display: table;
  clear: both;
}

/*****************************************************************************/
/*
/* =Layout/common
/*
/*****************************************************************************/
/* line 66, ../sass/main.scss */
.site {
  max-width: 560px;
  margin: 0 auto;
  width: 88%;
}

/* line 72, ../sass/main.scss */
.top {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5em;
}
/* line 77, ../sass/main.scss */
.top .site-nav {
  display: inline-block;
  float: left;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
}
/* line 84, ../sass/main.scss */
.top .site-nav a {
  color: black;
  text-decoration: none;
}
/* line 89, ../sass/main.scss */
.top .site-nav:hover .navigation, .top .site-nav:target .navigation {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 2;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* line 77, ../sass/main.scss */
  .top .site-nav {
    width: 50px;
  }
}
/* line 98, ../sass/main.scss */
.top .site-nav ul.navigation {
  display: none;
  position: absolute;
  left: 30px;
  top: -10px;
  padding-top: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 112, ../sass/main.scss */
.top .site-nav ul.navigation:after {
  content: "";
  display: block;
  position: absolute;
  top: 13px;
  left: -7px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
  z-index: -1;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.03);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.03);
}
/* line 130, ../sass/main.scss */
.top .site-nav ul.navigation:before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: -5px;
  z-index: 0;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 142, ../sass/main.scss */
.top .site-nav ul.navigation a {
  color: black;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Open Sans", "Avenir", Arial, sans;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  line-height: 40px;
  border-bottom: 1px solid #f2f2f2;
  text-decoration: none;
  width: 120px;
  padding-left: 18px;
}
/* line 155, ../sass/main.scss */
.top .site-nav ul.navigation a.disabled {
  color: #f2f2f2;
  text-decoration: line-through;
}
/* line 162, ../sass/main.scss */
.top .social-links {
  display: inline-block;
  float: right;
}

/* line 168, ../sass/main.scss */
.site-header {
  width: 100%;
  text-align: center;
  margin-top: 3em;
}
/* line 174, ../sass/main.scss */
.site-header .heading h1 {
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Open Sans", "Avenir", Arial, sans;
  text-align: center;
  font-size: 3.25em;
  line-height: 1.38462em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
}
/* line 181, ../sass/main.scss */
.site-header .heading h1 a {
  text-decoration: none;
  color: black;
}

/* line 189, ../sass/main.scss */
.site-footer {
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
  margin-top: 6em;
  margin-bottom: 1.5em;
  border-color: #e6e6e6;
  border-style: dotted;
  text-align: center;
}

/* line 198, ../sass/main.scss */
code {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: block;
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Proxima Nova", "Helvetica";
  font-weight: 500;
}

/* line 206, ../sass/main.scss */
blockquote {
  font-style: italic;
  color: #131313;
  margin-top: 1.875em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  margin-bottom: 1.875em;
  border-left: 1px solid #DDD;
  padding-left: 15px;
  margin-left: -15px;
}
/* line 213, ../sass/main.scss */
blockquote p {
  margin: 0 !important;
}

/* line 219, ../sass/main.scss */
figure {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  counter-increment: counter-figure;
  text-align: center;
  display: block;
}
/* line 227, ../sass/main.scss */
figure img {
  max-width: 100%;
}
/* line 231, ../sass/main.scss */
figure.double img {
  width: 48%;
  font-size: 0;
  display: inline-block;
}
/* line 241, ../sass/main.scss */
figure.shadow-on img {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
/* line 245, ../sass/main.scss */
figure.overflow-20 {
  width: 120%;
  margin-left: -10%;
}
/* line 249, ../sass/main.scss */
figure.overflow-30 {
  width: 130%;
  margin-left: -15%;
}
/* line 253, ../sass/main.scss */
figure.overflow-40 {
  width: 140%;
  margin-left: -20%;
}
/* line 257, ../sass/main.scss */
figure.overflow-70 {
  width: 170%;
  margin-left: -35%;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /* line 261, ../sass/main.scss */
  figure.overflow {
    width: 114%;
    margin-left: -7%;
  }
  /* line 265, ../sass/main.scss */
  figure.overflow figcaption {
    width: 80%;
    margin: 0 auto;
  }
}
/* line 273, ../sass/main.scss */
figure figcaption {
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-style: italic;
  color: #666666;
  font-weight: 200;
  text-align: center;
  display: block;
  clear: both;
}
/* line 281, ../sass/main.scss */
figure figcaption:before {
  content: "Figure " counter(counter-figure) ". ";
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8125em;
  line-height: 1.84615em;
  font-style: normal;
  color: #333;
  color: #b3b3b3;
  margin-right: 2px;
  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Open Sans", "Avenir", Arial, sans;
  font-weight: 600;
}

/* line 296, ../sass/main.scss */
.social-links {
  width: 200px;
  height: 100px;
  text-align: right;
  position: relative;
}
/* line 301, ../sass/main.scss */
.social-links .open-links {
  color: black;
  text-decoration: none;
  font-size: 1.4375em;
  line-height: 2.08696em;
  cursor: pointer;
  display: none;
}
/* line 309, ../sass/main.scss */
.social-links:hover .links {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 314, ../sass/main.scss */
.social-links .links {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 321, ../sass/main.scss */
.social-links .links a {
  display: block;
  padding: 0 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 0;
  font-size: 17px;
  float: left;
  background-color: #FFF;
}
/* line 335, ../sass/main.scss */
.social-links .links a.insta {
  color: red;
}
/* line 338, ../sass/main.scss */
.social-links .links a.twitter {
  color: #1EA6FC;
}
/* line 343, ../sass/main.scss */
.social-links .links a.facebook {
  color: #557FCA;
}
/* line 346, ../sass/main.scss */
.social-links .links a.linkedin {
  color: #56A4CD;
}

/*****************************************************************************/
/*
/* =Article
/*
/*****************************************************************************/
/* line 361, ../sass/main.scss */
.article .header {
  font-family: "Crimson Text";
  text-align: center;
  margin-top: 4.5em;
}
/* line 365, ../sass/main.scss */
.article .header h1 {
  margin-top: 0em;
  font-size: 2.1875em;
  line-height: 1.37143em;
  font-weight: 600;
}
/* line 370, ../sass/main.scss */
.article .header .pubdate {
  font-weight: 200;
}
/* line 375, ../sass/main.scss */
.article .excerpt {
  text-align: center;
  color: #9e9e9e;
  font-style: italic;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 3em;
}
/* line 382, ../sass/main.scss */
.article .content h1 {
  margin-top: 1.5em;
  font-family: "Crimson Text", "Baskerville", "Georgia", serif;
  font-size: 1.5625em;
  line-height: 1.92em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-style: italic;
}
/* line 393, ../sass/main.scss */
.article .content h2 {
  text-align: left;
  font-weight: 600;
  font-family: "Crimson Text", "Baskerville", "Georgia", serif;
  font-size: 1.1875em;
  line-height: 1.26316em;
}
/* line 399, ../sass/main.scss */
.article .content p + p {
  margin-top: 1.5em;
}
/* line 403, ../sass/main.scss */
.article .content p + ul {
  margin-top: 0.75em;
}
/* line 406, ../sass/main.scss */
.article .content ul {
  margin-bottom: 1.5em;
  list-style-position: inside;
  margin-left: 10px;
}
/* line 410, ../sass/main.scss */
.article .content ul li {
  text-indent: -5px;
}
/* line 412, ../sass/main.scss */
.article .content ul li:before {
  content: "-";
  position: relative;
  left: -5px;
  font-weight: 200;
  font-family: "Helvetica Neue";
}
