// Screen
// ======

@import "grids";
@import "compass/reset";
@import "compass";


@include border-box-sizing;
@include establish-baseline;
@include layout($susy);


$base-font-size 								:	  16px;
$base-line-height 							: 	28px;

$show-column-grid-backgrounds		: 	true;
$show-grid-backgrounds 					: 	true;
$rhythm-unit                    :   "rem";
$rem-with-px-fallback           :   true;
$phone-query										: 	max-width 800px;

body, html {
	height: 100%;
	min-height: 100vh;
	min-width: 305px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include breakpoint($phone-query){
		height: auto;
	}

}

.wrap {
	min-height: 500px;
	height: 100%;
}

.left {
	@include span(first 6 of 12);
	position: relative;
	height: 100%;
	@include breakpoint($phone-query){
		@include full;
  }
	.text {
		position: relative;		
		// top: 40%;
		top: 30vh;
		width: 70%;
		margin: 0 auto 200px auto;
		@include breakpoint($phone-query){
			top: 340px;
		}

	}
	h1 {
		font-family: "Kepler std", "Playfair Display","Freight", Times, serif;		
		font-weight: 700;
		@include adjust-font-size-to(58px, 2.5);
		@include margin-trailer(1);
		color: #2C3138;
		@include breakpoint($phone-query){
			text-align: center;
			@include adjust-font-size-to(48px, 2);
  	}
	}
	p {
		font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
		color: #909192;
		font-weight: 400;
		@include adjust-font-size-to(15px);
		+p {
			@include margin-leader(1);
		}
	}
	a {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #313131;
		font-weight: 700;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: red;
			left: 0;
			bottom: 5px;
			@include border-radius(22px);
			@include opacity(0.4);
		}
	}
	#dribbble {
		&:hover {
			color: #EC4989;
		}
		&:after {
			background-color: #EC4989;
		}
	}
	#twitter {
		&:hover {
			color: #1CA1F2;
		}
		&:after {
			background-color: #1CA1F2;
		}
	}
	#linkedin {
		&:hover {
			color: #1B86BD;
		}
		&:after {
			background-color: #1B86BD;
		}
	}
	#instagram {
		&:hover {
			color: #004879;
		}
		&:after {
			background-color: #004879;
		}
	}
}

.right {
	@include span(last 6 of 12);
	height: 100%;
	background-color: #BCEAF7;
	position: relative;
	// @include background-image(image-url('jeffreynijstad.jpg'));
	@include background-size(cover);
	background-position: center center;
	img {
		position: absolute;
		height: 100%;
		width: auto;
		display: block;
		@include breakpoint($phone-query){
			margin: 0 auto;
			width: 180px;
			height: 180px;
			@include border-radius(100%);
			position: relative;
		}

	}
	@include breakpoint($phone-query){
		position: absolute;
		top: 115px;
		height: auto;
		width: 100%;
		left: 0;
		background-color: #fff;;
		overflow: hidden;
	}
}
